 /*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/

}
/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
body {

  font-family: montserrat, arial, verdana;

  /* Location of the image */
  background-image: url(/static/imgs/bg1.png);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

}

.top {
    background-color: rgba(40, 40, 39, 0.8);
    padding: 10px;
    box-shadow: 2px 2px 2px #212324;
}
.epicenter_logo {
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;
    background-image: url(/static/imgs/epicenter.png);
    height: 100px;
}
.main_app {
    padding: 10px;
    margin-top: 45px;
    background-color: rgba(255, 255, 255, 0.7);
}


/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        /* The file size of this background image is 93% smaller
        * to improve page load speed on mobile internet connections */
        background-image: url(/static/imgs/bg1.png);
    }
    .epicenter_logo {
            background-image: url(/static/imgs/epicenter_sm.png);
    }
}

