<body>
    <div class="mb-2 text-start">
        <p class="fs-4">
            <i class="fs-2 fab fa-telegram text-primary"></i> <strong>Telegram Username:</strong>
        </p>
    </div>

    <div class="input-group mb-3 text-center">
        <span class="input-group-text" id="basic-addon1"><strong>@</strong></span>

        <input type="text" class="form-control text-primary fw-bold"
               id="telegram" name="telegram" required>
        <span class="input-group-text" id="basic-addon2">
            <button class="text-primary btn" data-bs-container="body" data-bs-toggle="popover"
                    data-bs-placement="top" data-bs-content="Information why we need telegram">
                <strong><i class="fs-4 fas fa-info-circle"></i></strong>
            </button>
        </span>
    </div>
    <div class="" id="error_msg_telegram">

    </div>
</body>
