<div class="text-start mt-5">
    <p class="fs-4">
        <img src="https://assets.coingecko.com/coins/images/10346/small/ViteX.png?1578364192"
                height="35px">
        <strong>Vite Address:</strong>
    </p>
</div>

<div class="form-floating">
    <input type="text" class="form-control" id="vitex_address"
           name="vitex_address" placeholder="Vitex address">
    <label for="vitex_address">e.g. vite_34de...pkk54</label>
</div>
<div class="mt-2" id="error_msg_vitex_address"></div>